<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="/home.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <center><h1>Home</h1></center>
    <center><a href="/discordBotSend/login">Discord bot send</a></center>
  </body>
</html>