<html>
  <head>
    <title>Test</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready( function () {
          $('.send').submit( function () {
            formdata = $(this).serialize();
            $.ajax({
                type: "POST",
                url: "/send",
                data: formdata
             });
            return false;
          });
        });
    </script>
    <script>
      async function setSendChannel(channelID, channelName) {
        $("#defaultSendForm").hide()
        $("#secondarySendForm").html(function(n, c) {
          let output = `<input type="hidden" value='<%- token %>' name="token">
      <input type="hidden" value="${channelID}" name="channel" id="ssfc">
      <center><input type="text" name="message" placeholder="Message" id="ssfm"></center>
      <br>
      <center><button onclick="sendTwo('secondarySendForm')">Send</button></center>`
          return output
        })
        $("#secondarySendForm").show()
          setIntervalForGettingMessages(channelID)
      }
      let txt = '';
      async function setText(value) {
        txt +=  value + '\n'
      }
      let txt2 = '';
      async function setTextTo(value) {
        txt2 += `<div onclick="setSendChannel('${value.split(' - ')[2]}', '${value.split(' - ')[1]}')">${value}</div>`
      }
      let oldChannelList = "";
        async function getChannels() {
          const channelList = await $.post("/channels");
          txt = ''
          await channelList.split('\n').forEach(setText)
          if (oldChannelList === txt) return;
          oldChannelList = txt
          await $("#Channels").html(function(n, c) {
            txt2 = ""
            txt.split('\n').forEach(setTextTo)
            const outputToReturn = txt2
            return outputToReturn
          });
      }
      $(document).ready(function() {
          setInterval(getChannels, 500)
      }); 
    </script>
    <script>
      async function send(message, channel) {
        $("#sendOutput").html("<h3>Sending message...</h3>")
        const token = '<%- token %>';
        const body = {
          token: token,
          message: message,
          channel: channel,
        }
        try {
          $.post("/send", body, (data, status) => {
            $("#sendOutput").html(data)
            console.log(data);
          });
        } catch (error) {
          $("#sendOutput").html(`<h3>Invalid Message or Channel</h3>`)
        }
        return;
      }
    </script>
    <script>
      async function sendTwo(id) {
        await send($(`#${id} input[name="message"]`).val(), $(`#${id} input[name="channel"]`).val())
      }
    </script>
    <script>
      let oldChannelId = "";
      let oldMessages = "";
      async function cookies(data) {
        
      }
      async function getMessages(channelID) {
        const token = '<%- token %>';
        const body = {
          token: token,
          channel: channelID,
          num: 900,
        };
        try {
          $.post("/messages", body, (data, status) => {
            const DATA = data
            if (oldMessages === DATA) return;
            oldMessages = DATA
            $("#sentMessages").html(`<p>${DATA.replace(/\n/g, "<br/>")}</p>`)
          });
        } catch (error) {
          $("#sentMessages").html(`<h3>Invalid Channel</h3>`)
        }
        return;
      }
      let interval = "";
      async function setIntervalForGettingMessages(channelID) {
        clearInterval(interval)
        if (oldChannelId === "") {
          interval = setInterval(await getMessages, 500, channelID)
          getMessages(channelID)
          oldChannelId = channelID
          return;
        }
        if (oldChannelId !== channelID) {
          interval = setInterval(await getMessages, 500, channelID)
          getMessages(channelID)
          oldChannelId = channelID
          return;
        }
      }
    </script>
  </head>
  <body>
    <center><h1>Channels</h1></center>
    <center><p id="Channels" class="close" ></p></center>
    <center><h1>Send Messages</h1></center>
    <div id="defaultSendForm" class="send">
      <input type="hidden" value='<%- token %>' name="token">
      <center><input type="text" name="message" placeholder="Message"></center>
      <br>
      <center><input type="text" name="channel" placeholder="Channel ID"></center>
      <br>
      <center><button onclick="sendTwo('defaultSendForm')">Send</button></center>
    </div>
    <div id="secondarySendForm" hidden>
      <input type="hidden" value="" name="channel" id="ssfc">
      <center><input type="text" name="message" placeholder="Message" id="ssfm"></center>
      <br>
      <center><button onclick=''>Send</button></center>
    </div>
    <center id="sendOutput"></center>
    <div id="sentMessages" class="scroll"></div>
  </body>
</html>