<html>
  <head>
    <title>Test</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <center><h1>Login</h1></center>
    <form action="/discordBotSend/home" method="post">
      <center><input type="text" name="token" placeholder="Token"></center>
      <br>
      <center><input type="submit" value="Login"></center>
    </form>
  </body>
</html>