<br>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<form action="/home" method="post">
  <input type="hidden" value=<%- token %> name="token">
  <center><input type="submit" value="Go to Home"></center>
</form>