<br>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="/style.css">
<script>
  var timeLeft = 30;
  var elem = document.getElementById('countdown');

  var timerId = setInterval(countdown, 1000);

  function countdown() {
    if (timeLeft == -1) {
      clearTimeout(timerId);
      $("#goHome").submit();
    } else {
      $("#countdownOutput").html(timeLeft + ' seconds remaining');
      timeLeft--;
    }
  }
</script>
<center><h1>Sent Successfully</h1></center>
<form action="/home" method="post" id="goHome">
  <input type="hidden" value=<%- token %> name="token">
  <center><input type="submit" value="Go to Home"></center>
</form>
<center><h2><output id="countdownOutput"></output></h2></center>